.landing-text {
    font-size: 128px;
}


@media (max-width: 1000px) {
    .landing-text {
        font-size: 104px;
    }

}

@media (max-width: 700px) {
    .landing-text {
        font-size: 80px;
    }
}

@media (max-width: 400px) {
    .landing-text {
        font-size: 56px;
    }
}